exportPattern("^[[:alpha:]]+")
exportMethods(
    "acs.colnames<-",
    "acs.colnames",
    "acs.units<-",
    "acs.units",
    "api.for",
    "api.in",
    "apply",
    "-",
    "/",
    "[<-",
    "[",
    "[[",
    "*",
    "+",
    "c",
    "combine<-",
    "combine",
    "combine.term<-",
    "combine.term",
    "currency.year<-",
    "currency.year",
    "endyear<-",
    "endyear",
    "estimate",
    "geography<-",
    "geography",
    "geo.list",
    "length",
    "modified",
    "name",
    "plot",
    "results",
    "show",
    "span<-",
    "span",
    "standard.error",
    "sum",
    "summary" 
)
S3method(confint,acs)
S3method(dim,acs)
S3method(length,acs)
S3method(prompt,acs)
S3method(cbind,acs)
S3method(rbind,acs)
exportClasses(
    "acs",
     "acs.lookup",
     "geo",
     "geo.set" 
)
import(XML)
import(methods)
# import(plyr)
import(stringr)
importFrom(utils,prompt)
importFrom("graphics", "abline", "axis", "lines", "par", "points")
importFrom("plyr", "rbind.fill")
importFrom("stats", "confint", "dnorm", "qnorm")
importFrom("httr", "http_error", "GET")
importFrom("utils", "data", "file_test", "head", "read.csv", "tail", "unzip", "download.file")
